.home-component {
    h1 {
        font-size: 52px;
        color: white;
    }

    h2 {
        font-size: 48px;
        color: white;
    }
}

.button {
    background-color: #04aa6d; /* Green */
    border: none;
    color: aqua;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
