.dot {
    &__one {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }

    &__two {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }

    &__three {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }

    &__four {
        height: 30em;
        width: 30em;
        border-radius: 50%;
        display: inline-block;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
    }
}

.content {
    margin-top: 100px;
}

.logo {
    height: 120px;
}

@media (max-width: 768px) {
    .logo {
        height: 60px;
    }
}

.main-title {
    margin-top: 20px;
    margin-bottom: 60px;

    &__one {
        margin: 4px 0;
        font-size: 20px;
        color: white;
    }
}

.get-started-button {
    height: 60px;
    width: 200px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    background: #659bdc;
    border-radius: 32px;
    cursor: pointer;

    &__text {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        color: white;
    }
}

.get-started-button:hover {
    background: blanchedalmond;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 360px;

    &__item {
        margin: 16px;
        font-size: 16px;
        color: white;
    }

    :hover {
        cursor: pointer;
        color: black;
    }
}
